<!doctype html>
<html ng-app="app">
<head>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/ui-grid.min.css" />
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/ui-grid.js"></script>
</head>
<body>
    <div ng-controller="MainCtrl">
        <br />
        <br />
        <div>
            Group By:
            <label ng-repeat="column in columnNames">
                <input type="checkbox" ng-model="column.checked" ng-change="changeGrouping()">
                <label for="{{column.name}}">{{column.name}}</label>
            </label>
            &nbsp; &nbsp;
            <input type="submit" value="Clear All" ng-click="clearAll()" />
            &nbsp;&nbsp;
            <input type="submit" value="Get Selected Rows" ng-click="getSelectedRows()"/>
            &nbsp;&nbsp;
            <input type="submit" value="Save Column State" ng-click="saveColumnState()" />
            &nbsp;&nbsp;
            <a href="/Grids/Index"> Change Default Behaviour Of Grid </a>
        </div>
        <br />
        <div id="grid1" ui-grid="gridOptions" ui-grid-pagination ui-grid-selection
             ui-grid-auto-resize ui-grid-exporter ui-grid-grouping ui-grid-move-columns ui-grid-save-state class="grid"></div>
        <br/>
        <div>
            <h3>Selected Rows: </h3>
            <label ng-repeat="item in selectedIdFromServer">
                <br/>
                Id: 
                <label for="{{item}}">{{item}}</label>
            </label>
        </div>
    </div>
</body>
</html>